<div class="flex flex-col justify-between basis-[240px] h-screen bg-bsecondary grow-0 shrink-0 text-tsecondary">
    <div>
      <div class="m-3 flex flex-row w-full justify-between text-tprimary">
        <div class="">{{currentServer.name}}</div>
        <div class="mr-6">></div>
      </div>
      <div class="h-[1px] w-full bg-btrim"></div>
      <app-channel-category *ngFor="let category of currentServer.categoryList" [category]="category"></app-channel-category>
    </div>
    <div class="flex flex-row w-full justify-between bg-btrim">
      <div class="flex flex-row">
        <app-profile-picture class="m-2"></app-profile-picture>
        <div class="m-2 text-xs">
          <div class="text-tprimary font-bold">mtheiley</div>
          <div class="">mtheiley#95...</div>
        </div>
      </div>
      <div class="m-3 flex flex-row gap-3">
        <div>A</div>
        <div>B</div>
        <div>C</div>
      </div>
    </div>
  </div>