<div class="flex flex-row bg-bprimary text-tprimary">
  <div class="basis-[72px] h-screen bg-btrim grow-0 shrink-0 flex flex-col items-center gap-3">
    <div class="mt-6 basis-[50px] w-[50px] rounded-full bg-baccent"></div>
    <div class="basis-[2px] w-[35px] bg-bprimary"></div>
    <div class="basis-[50px] w-[50px] rounded-full bg-baccent"></div>
    <div class="basis-[50px] w-[50px] rounded-full bg-baccent"></div>
    <div class="basis-[50px] w-[50px] rounded-full bg-baccent"></div>
    <div class="basis-[50px] w-[50px] rounded-full bg-baccent"></div>
    <div class="basis-[50px] w-[50px] rounded-full bg-baccent"></div>
  </div>
  <div class="flex flex-col justify-between basis-[240px] h-screen bg-bsecondary grow-0 shrink-0 text-tsecondary">
    <div>
      <div class="m-3 flex flex-row w-full justify-between text-tprimary">
        <div class="">Vi Study</div>
        <div class="mr-6">></div>
      </div>
      <div class="h-[1px] w-full bg-btrim"></div>
      <div class="mt-3 flex flex-row gap-1 w-full text-xs font-bold">
        <div class="ml-1">></div>
        <div class="flex flex-row w-full justify-between">
          <div class="">TEXT CHANNELS</div>
          <div class="mr-3">+</div>
        </div>
      </div>
      <div class="ml-6"># general</div>
      <div class="mt-3 flex flex-row gap-1 w-full text-xs font-bold">
        <div class="ml-1">></div>
        <div class="flex flex-row w-full justify-between">
          <div class="">VOICE CHANNELS</div>
          <div class="mr-3">+</div>
        </div>
      </div>
      <div class="ml-6"># general</div>
    </div>
    <div class="flex flex-row w-full justify-between bg-btrim">
      <div class="flex flex-row">
        <div class="m-2 h-[35px] w-[35px] rounded-full bg-yellow"></div>
        <div class="m-2 text-xs">
          <div class="text-tprimary font-bold">mtheiley</div>
          <div class="">mtheiley#95...</div>
        </div>
      </div>
      <div class="m-3 flex flex-row gap-3">
        <div>A</div>
        <div>B</div>
        <div>C</div>
      </div>
    </div>
  </div>
  <div class="flex flex-col w-full justify-between">
    <div>
      <div class="h-12 flex flex-row w-full justify-between">
        <div class="m-3"># general</div>
        <div class="flex flex-row gap-3">
          <div class="">A</div>
          <div class="">B</div>
          <div class="">C</div>
          <div class="mr-3">D</div>
        </div>
      </div>
      <div class="h-[1px] w-full bg-btrim"></div>
    </div>
    <div class="m-6 h-12 flex flex-row bg-baccent2 text-taccent rounded-lg items-center justify-between">
      <div class="flex flex-row gap-6 ml-6">
        <div>+</div>
        <div>Message #general</div>
      </div>
      <div class="flex flex-row gap-3 mr-6">
        <div>A</div>
        <div>B</div>
        <div>C</div>
        <div>D</div>
      </div>
    </div>
  </div>
</div>